body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
    color: #fff;
}

/*HEADER*/
header {
    background-color: #1a1a1a;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

/*Logo header*/
.logo img {
    width: 125px;
}

/*NAVEGADOR*/
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight:bolder ;
    transition: 0.3s;
}

a:hover {
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

.activo {
    color: #00bfff;
    text-decoration: none;
}

/*TODO EL CONTENIDO*/
.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.textorojo {
    color: #ff0000;
}

a {
    color:#00bfff
}

/*BARRA LATERAL*/
/* aside {
    width: 20%;
    padding: 20px;
    background-color: #7c7c7c;
    order: 2;
} */

/*CONTENIDO INDIVIDUAL*/
.contenido {
    width: 100%;
    padding: 20px;
    order: 1;
}
/*===============*/

.centrado {
    text-align: center;
}

.discordframe {
    margin: 0 auto;
    display: block; 
}

/* pie de pagina */
footer {
    background-color:#1a1a1a;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

/*VISTA MOVILES*/
@media (max-width: 768px) {
    aside {
        order: 0;
        width: 100%;
    }

    .contenido {
        order: 1;
        width: 100%;
    }
    
    .logo{
        text-align: center;
    }

    .logo img {
        width: 300px;
    }

    header {
        display: inline;
    }

    nav {
        text-align: center;

    }

    nav ul {
        flex-direction: column; /* Muestra los elementos del menú en una columna */
    }

    nav ul li {
        margin: 5px;
        border-style: solid;
        border-width: 1.5px;
        padding: 5px;
        width: 200px;
        margin: 5px auto;
    }
}
